---
BasedOnStyle: Webkit
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
IndentGotoLabels: false
IndentCaseLabels: true
ColumnLimit: 80
SpaceAfterCStyleCast: true
TabWidth: 4
UseTab: Always

...
